/*
Fairly useless
 */
.parent {
    -fx-background-color: #ffff;
}
/*
Gets rid of that pesky vBox border
 */
.vBox {
    -fx-border-width: 1px 0px 0px 0px;
    -fx-border-color: #333643;
}
.leftSideVbox {
    -fx-background-color: #1F1F1F;
}
.menuButton {
    -fx-background-color: #174276;
}
.openedMenuItem {
    -fx-background-color: #092642;
}
/*
When a menu button is selected (as long as the menuToggle is assigned to the CSS class menuToggle below, it will update
its properties to show that it is selected. In this case, it draws a small inner shadow and changes color
 */
.menuToggle:selected{
    -fx-effect: innershadow(three-pass-box, black, 3, 0, 0, 0);
    -fx-background-color: #1c7dd8;
    -fx-stroke: black;
    -fx-stroke-width: 10;
    -fx-stroke-line-cap: butt;
}